
/* fallback */
@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(/static/fonts/material-icons.woff2) format('woff2');
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
}

.page-footer {
	padding-top: 0px;
}

.page-footer .footer-logo {
	max-height: 20px;
	margin-right: 5px;
}

.col > .btn {
	width: 100%;
}

.btn.btn-narrow {
	padding: 0px 5px;
}

.bg-primary:not(.btn-flat) { background-color: #247BA0; }
.bg-primary.btn:hover { background-color: #4B93B1; }

.bg-secondary:not(.btn-flat) { background-color: #70C1B3; }
.bg-secondary.btn:hover { background-color: #A4D7CE; }

.bg-tertiary:not(.btn-flat) { background-color: #FF1654; }
.bg-tertiary.btn:hover { background-color: #FF6A92; }

.bg-green:not(.btn-flat) { background-color: #388E3C; }
.bg-green.btn:hover { background-color: #81C784; }

.bg-red:not(.btn-flat) { background-color: #D32F2F; }
.bg-red.btn:hover { background-color: #E57373; }

.modal:not(.bottom-sheet) {
	max-height: 90%; max-width:90%;
}

.modal:not(.bottom-sheet) .modal-footer {
	height: auto;
}

.modal .modal-content {
	padding: 20px;
}

.modal.bottom-sheet {
	max-height: none;
	overflow: visible;
}

.form-row {
	margin-bottom: 20px;
}

.checkbox-parent {
	margin-top: 5px;
}

.mana-symbol {
	width: 15px;
}

.mana-symbol + .mana-symbol {
	margin-left: -2px;
}

.parallax-container {
	height: 250px;
}

@media only screen and (max-width: 600px) {
	.collection-page #view_box {
		position: absolute;
		top: 10%;
		max-width: 100%;
		top: auto !important;
		height: auto !important;
	}	
}

@media only screen and (min-width: 601px) {
	.collection-page #view_box {
		position: absolute;
		top: 10%;
		left: 25%;
	}
}

.collection-page .sort-head {
	cursor: pointer;
}

.collection-page .pagination li {
	cursor: pointer;
}

.collection-page .pagination li .first-page,
.collection-page .pagination li .prev-page,
.collection-page .pagination li .next-page,
.collection-page .pagination li .last-page {
	padding-left: 0px;
	padding-right: 0px;
}

.collection-page .chip .set-icon {
	padding-right: 0px;
	margin-top: 5px;
	margin-left: -3px;
	height: 30px;
	width: 30px;
}

.collection-page .set-icon {
	max-height: 20px;
	max-width: 30px;
	padding-right: 10px;
}

.collection-page #collection_list .name {
	cursor: pointer;
}

.collection-page .card-hover {
	width: 185px;
	height: 255px;
	padding: 5px;
	display: block;
	position: absolute;
}

.collection-page .card-hover:after, .collection-page .card-hover:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.collection-page .card-hover:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #fff;
	border-width: 10px;
	margin-top: -10px;
}

.collection-page .card-hover:before {
	border-color: rgba(153, 153, 153, 0);
	border-right-color: #c9c9c9;
	border-width: 11px;
	margin-top: -11px;
}

.collection-page #search-results {
	position: absolute;
	width: 100%;
}

.collection-page #search-results .search-art {
	max-height: 80px;
}

.collection-page #collection_total .badge {
	height: 30px;
	margin-top: 14px;
	margin-bottom: 14px;
	padding-top: 4px;
}

.collection-page #info_modal .modal-header {
	border-bottom: 1px solid rgba(0,0,0,0.12);
}

.collection-page #info_modal .name {
	margin-bottom: 5px;
}

.collection-page #info_modal .extra-info {
	margin-top: 0px;
	margin-bottom: 0px;
}

.collection-page #info_modal .last-updated {
	font-style: italic;
	font-size: 12px;
}

.collection-page #info_modal .card-preview-small {
	padding: 0px;
}

.collection-page #info_modal .collapsible .collapsible-body {
	padding: 0px;
}

.collection-page #info_modal .collection .collection-item.avatar {
	min-height: 60px;
}

.collection-page #info_modal .modal-footer {
	padding-left: 20px;
	padding-right: 20px;
}

@media only screen and (max-width: 450px) {
	.collection-page #info_modal .collection .collection-item.avatar {
		padding-left: 20px;
		min-height: initial;
	}
}

.decks-page .show-deleted {
	padding-top: 8px;
}

/*
Thank you to https://stackoverflow.com/a/19414020
for this trick to center the overflow image
*/
.decks-page #deck-menu .card-image-container {
	height: 140px;
	position: relative;
    overflow: hidden;
}

.decks-page #deck-menu .card-image-container img {
	position: absolute;
	top: -9999px;
	bottom: -9999px;
	left: -9999px;
	right: -9999px;
	margin: auto;
}

.decks-page #deck-menu .card-content {
	height: 120px;
}

.decks-page #deck-menu .card .deck-name {
	font-size: 16px;
	font-weight: bold;
}

.decks-page #deck-menu .card .deck-format {
	font-style: italic;
}

.decks-page #deck-menu .deck-summary {
	cursor: pointer;
}

.decklist-page #deck-details a {
	cursor: pointer;
}

.decklist-page .deck-list table td {
	padding: 5px 5px;
}

.decklist-page .deck-list table td.small-col {
	width: 20px;
}

.decklist-page .deck-list .grouped {
	background-color: rgba(242,242,242,0.5);
	font-weight: bold;
}

.decklist-page .deck-list .sufficient {
	background-color: #66BB6A;
}

.decklist-page .deck-list .insufficient {
	background-color: #EF5350;
	font-weight: bold;
}