<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>Magic Collector</title>

		<link rel="search" type="application/opensearchdescription+xml" title="Magic Collector" href="/search.xml" />
		
		<link type="text/css" rel="stylesheet" href="{{ static_file('css/materialize.min.css') }}"  media="screen,projection"/>
		<link type="text/css" href="{{ static_file('css/custom.css') }}" rel="stylesheet">

		<script type="text/javascript" src="{{ static_file('js/jquery.min.js') }}"></script>
		<script type="text/javascript" src="{{ static_file('js/handlebars.min.js') }}"></script>
		<script type="text/javascript" src="{{ static_file('js/materialize.min.js') }}"></script>
		<script type="text/javascript" src="{{ static_file('js/functions.js') }}"></script>

		{% block handlebars %}
		<script type="text/javascript">
			Handlebars.registerHelper('isEqual', function(x, y, options) {
				if(x === y) return options.fn(this);
				else return options.inverse(this);
			});

			Handlebars.registerHelper('isGreaterThan', function(x, y, options) {
				if(x > y) return options.fn(this);
				else return options.inverse(this);
			});

			Handlebars.registerHelper('isLessThan', function(x, y, options) {
				if(x < y) return options.fn(this);
				else return options.inverse(this);
			});

			Handlebars.registerHelper('substring', function(input, maxChars) {
				return new Handlebars.SafeString(input.substring(0, maxChars));
			});
		</script>

		<script id="loading-template" type="text/x-handlebars-template">
			<div class="col s12 offset-s6">
				<div class="preloader-wrapper big active">
					<div class="spinner-layer spinner-blue-only">
						<div class="circle-clipper left">
							<div class="circle"></div>
						</div>
						<div class="gap-patch">
							<div class="circle"></div>
						</div>
						<div class="circle-clipper right">
							<div class="circle"></div>
						</div>
					</div>
				</div>
			</div>
		</script>
		{% endblock %}

		<script type="text/javascript">
			var initMaterializeComponents = function() {
				$('.sidenav').sidenav();
				$('.dropdown-trigger').dropdown({
					constrainWidth: false
				});
			}

			$(document).ready(initMaterializeComponents);
		</script>

		{% block script %}
		{% endblock %}
	</head>

	<body>
		{% macro get_menu() -%}
			{% if is_logged_in() -%}
			<li {% if active == 'collection' -%} class="active" {%- endif %}><a href="{{ url_for('home') }}">Collection</a></li>
			<li {% if active == 'decks' -%} class="active" {%- endif %}><a href="{{ url_for('decks') }}">Decks</a></li>
			<li><a href="{{ url_for('logout') }}">Log Out</a></li>
			{%- else -%}
			<li><a href="{{ url_for('login') }}">Log In</a></li>
			{%- endif %}
		{%- endmacro %}

		<header>
			<nav class="bg-primary" role="navigation">
				<div class="nav-wrapper container">
					<a id="logo-container" href="{{ url_for('home') }}" class="brand-logo hide-on-small-only">Magic Collector</a>
					<ul class="right hide-on-med-and-down">
						{{ get_menu() }}
					</ul>

					<ul id="nav-mobile" class="sidenav">
						{{ get_menu() }}
					</ul>
					<a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
				</div>
			</nav>
		</header>

		<main>
		{% block content %}
		{% endblock %}
		</main>

		<footer class="page-footer bg-primary">
			<div class="footer-copyright">
				<div class="container">
					<div class="valign-wrapper">
						<a href="https://github.com/zendamacf/magic-collector">
							<img class="responsive-img footer-logo" src="{{ static_file('github.png') }}">
						</a>
						<span class="footer-note">By Zach Lang</span>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>
