{% extends 'base.html' %}

{% block handlebars %}
	{{ super() }}

	{% raw %}
	<script id="filtersets-template" type="text/x-handlebars-template">
		<option value="" disabled selected>Filter by Set</option>
		{{#each sets}}
		<option value="{{id}}" data-icon="{{iconurl}}">{{name}}</option>
		{{/each}}
	</script>

	<script id="collection-template" type="text/x-handlebars-template">
		{{#each cards}}
		<tr data-image="{{imageurl}}" data-user_cardid="{{user_cardid}}">
			<td class="name">
				{{name}}
				{{#if language}}({{language}}){{/if}}
				<span class="card-hover-img"></span>
			</td>
			<td class="hide-on-med-and-up">{{setcode}}</td>
			<td class="hide-on-small-only">{{setname}}</td>
			<td class="hide-on-med-and-up">{{substring rarity 1}}</td>
			<td class="hide-on-small-only">{{rarity}}</td>
			<td class="quantity">{{quantity}}</td>
			<td><i class="material-icons">{{#if foil}}check_box{{else}}check_box_outline_blank{{/if}}</i></td>
			<td>
				{{#if price}}{{price}} <span class="hide-on-small-only">{{currencycode}}</span>{{/if}}
				{{#if base_price}}<br><em class="blue-grey-text text-lighten-3">{{base_price}} <span class="hide-on-small-only">USD</span></em>{{/if}}
			</td>
			<td><a class="btn bg-tertiary info-card"><i class="material-icons">info_outline</i></a></td>
		<tr>
		{{/each}}
	</script>

	<script id="hover-template" type="text/x-handlebars-template">
		<div class="card-panel card-hover" style="top: {{vert_pos}}px; left: {{horiz_pos}}px;">
			<img class="responsive-img" src="{{image_url}}">
		</div>
	</script>

	<script id="pagination-template" type="text/x-handlebars-template">
		<ul id="extra-pages-before" class="dropdown-content">
			{{#each extras_before}}
			<li><a class="{{class}}">{{label}}</a></li>
			{{/each}}
		</ul>
		<ul id="extra-pages-after" class="dropdown-content">
			{{#each extras_after}}
			<li><a class="{{class}}">{{label}}</a></li>
			{{/each}}
		</ul>
		<ul class="pagination">
			{{#each pages}}
			<li {{#if active}}class="active bg-tertiary"{{/if}}><a class="{{class}}" {{#if target}}data-target="{{target}}"{{/if}}>
				{{#if label}}
				{{label}}
				{{else}} 
				<i class="material-icons">{{icon}}</i>
				{{/if}}
			</a></li>
			{{/each}}
		</ul>
	</script>

	<script id="collectiontotal-template" type="text/x-handlebars-template">
		<span class="badge new bg-tertiary" data-badge-caption="">{{totalprice}} | {{total}} cards</span>
	</script>

	<script id="search-template" type="text/x-handlebars-template">
		{{#each results}}
		<tr>
			<td>
				<a class="btn btn-narrow bg-secondary search-results-add" data-printingid="{{id}}">
					<i class="material-icons">add</i>
				</a>
			</td>
			<td>
				<img class="responsive-img search-art" src="{{ imageurl }}">
			</td>
			<td class="cardname">
				{{name}}
				{{#if language}}({{language}}){{/if}}
				<br>
				<span class="blue-grey-text">{{collectornumber}}</span>
			</td>
			<td class="blue-grey-text text-lighten-3 hide-on-med-and-up">{{setcode}}</td>
			<td class="blue-grey-text text-lighten-3 hide-on-small-only">{{setname}}</td>
		</tr>
		{{/each}}
	</script>

	<script id="filterchip-template" type="text/x-handlebars-template">
		{{#each filters}}
		<div class="chip">
			<input id="{{key}}_value" data-orig="#{{key}}" value="{{value}}" hidden>
			<img class="{{#isEqual key 'filter_set'}}set-icon{{/isEqual}}" src="{{icon}}">{{label}}<i class="close material-icons filter-remove">close</i>
		</div>
		{{/each}}
	</script>

	<script id="decklist-template" type="text/x-handlebars-template">
		{{#if decks}}
		<ul class="collapsible">
			<li>
				<div class="collapsible-header">
					<i class="material-icons">keyboard_arrow_down</i>Decks
					<span class="new badge bg-tertiary" data-badge-caption="{{#isEqual total 1}}copy{{else}}copies{{/isEqual}}">
						{{total}}
					</span>
				</div>
				<div class="collapsible-body">
					<ul class="collection">
						{{#each decks}}
						<li class="collection-item avatar valign-wrapper">
							<img src="{{arturl}}" class="circle hide-on-small-only">
							{{name}}
						 	<span class="badge" data-badge-caption="{{#isEqual quantity 1}}copy{{else}}copies{{/isEqual}}">
								{{quantity}}
							</span>
						</li>
						{{/each}}
					</ul>
				</div>
			</li>
		</ul>
		{{/if}}	
	</script>
	{% endraw %}
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ static_file('js/collection.js') }}"></script>
<script type="text/javascript" src="{{ static_file('js/Chart.min.js') }}"></script>
<link type="text/css" href="{{ static_file('css/Chart.min.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="collection-page container">
	<div class="section">
		<div class="row">
			<div class="col s9 m6">
				<input type="text" id="search">
			</div>
			<div id="add-row" class="hide">
				<div class="col s3 m2">
					<a class="btn bg-secondary" id="add-row-refresh"><i class="material-icons">refresh</i></a>
				</div>
				<div class="col s9 m2 l1">
					<a class="btn bg-secondary modal-trigger" href="#upload_modal"><i class="material-icons">file_upload</i></a>
				</div>
				<div class="col s3 m2 l2 offset-l1">
					<a class="btn btn-flat" id="add-row-hide">Back</a>
				</div>
			</div>

			<div id="search-row">
				<div class="col s3 m2">
					<a class="btn bg-secondary" id="search-row-button"><i class="material-icons">search</i></a>
				</div>
				<div class="col s6 m2 l1 offset-l2">
					<a class="btn bg-secondary" id="filter-row-button"><i class="material-icons">filter_list</i></a>
				</div>
				<div class="col s6 m2 l1">
					<a class="btn bg-secondary" id="add-row-show"><i class="material-icons">add</i></a>
				</div>
			</div>
		</div>


		<div id="search-results" class="row hide">
			<div class="col s12 m6">
				<div class="card">
					<div class="card-content">
						<table class="highlight">
							<tbody id="search-results-list">
							</tbody>
						</table>
					</div>
					<div class="card-action">
						<a id="search-results-dismiss">Cancel</a>
						<label>
							<input type="checkbox" id="search-results-foil">
							<span>Foil</span>
						</label>
					</div>
				</div>
			</div>
		</div>

		<div id="filter-chips" class="row hide"></div>

		<div id="upload_modal" class="modal bottom-sheet">
			<div class="modal-content">
				<h4>Upload CSV</h4>
				<div id="upload_loading"></div>

				<div class="file-field input-field">
					<div class="btn bg-secondary">
						<span>File</span>
						<form enctype="multipart/form-data" method="post" name="upload_form">
							<input type="file" accept="text/csv" name="upload">
						</form>
					</div>
					<div class="file-path-wrapper">
						<input class="file-path validate" type="text">
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a class="btn-flat" id="upload_btn">Submit</a>
			</div>
		</div>

		<div id="filter_modal" class="modal bottom-sheet">
			<div class="modal-content">
				<h4>Filters</h4>

				 <div class="input-field col s12 m6">
					<select class="icons" id="filter_set">
					</select>
				</div>

				 <div class="input-field col s12 m6">
					<select class="icons" id="filter_rarity">
						<option value="" disabled selected>Filter by Rarity</option>
						<option value="C" data-icon="{{ static_file('common.png') }}">Common</option>
						<option value="U" data-icon="{{ static_file('uncommon.png') }}">Uncommon</option>
						<option value="R" data-icon="{{ static_file('rare.png') }}">Rare</option>
						<option value="M" data-icon="{{ static_file('mythic.png') }}">Mythic</option>
					</select>
				</div>
			</div>
			<div class="modal-footer">
				<a class="btn-flat" id="filter_btn">Submit</a>
			</div>
		</div>

		<div id="info_modal" class="modal modal-fixed-footer fade">
			<div class="modal-content">
				<div class="row modal-header">
					<div class="col s9 m10">
						<h5 class="name"></h5>
						<h6 class="extra-info blue-grey-text">
							<span class="card-set"></span> |
							<span class="rarity"></span> |
							<span class="price"></span> |
							<span class="owned"></span> Copies
						</h6>
						<span class="last-updated blue-grey-text"></span>
					</div>

					<div class="col s3 m2 card-preview-small">
						<img class="responsive-img art">
					</div>
				</div>

				<div class="card-pricehistory hide" style="position: relative; height:250px;">
					<canvas id="pricehistory-chart"></canvas>
				</div>
				<div class="card-details">
					<div class="row">
						<div class="col s12">
							<div class="form-row">
								<div class="col s12 m6">
									<input class="quantity" type="number" placeholder="Quantity">
								</div>
								<div class="col s4 m2">
									<a class="btn bg-secondary quantity-decrement">
										<i class="material-icons">remove</i>
									</a>
								</div>
								<div class="col s4 m2">
									<a class="btn bg-secondary quantity-increment">
										<i class="material-icons">add</i>
									</a>
								</div>
								<div class="col s4 m2 checkbox-parent">
									<label>
										<input class="foil" type="checkbox">
										<span>Foil</span>
									</label>
								</div>
							</div>
							<input class="user_cardid" type="hidden">
						</div>
					</div>

					<div class="row hide">
						<div class="col s12">
							<input class="tcgplayer_productid" type="text" placeholder="TCGplayer ID">
						</div>
					</div>

					<div class="row">
						<div class="col s12" id="decklist"></div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a class="btn-flat" id="pricerefresh_btn">Refresh Price</a>
				<a class="btn-flat hide" id="carddetails_btn">Card Details</a>
				<a class="btn-flat" id="pricehistory_btn">Price History</a>
				<a class="btn-flat" id="edit_btn">Save</a>
			</div>
		</div>

		<img id="view_box" class="materialboxed hide">

		<div class="row">
			<table class="highlight">
				<thead id="collection_head" class="hide">
					<tr>
						<th class="sort-head valign-wrapper" data-sort_col="name">Card <i class="material-icons">keyboard_arrow_up</i></th>
						<th class="sort-head" data-sort_col="setname">Set</th>
						<th class="sort-head" data-sort_col="rarity">Rarity</th>
						<th class="sort-head" data-sort_col="quantity">Qty</th>
						<th class="sort-head" data-sort_col="foil">Foil</th>
						<th class="sort-head" data-sort_col="price">Price</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody id="collection_list"></tbody>
			</table>
		</div>

		<div class="row">
			<div id="collection_pagination" class="col s12 m8">
			</div>
			<div id="collection_total" class="col s12 m4 right-align">
			</div>
		</div>

	</div>

	<br><br>
</div>
{% endblock %}
