.header {
  height: 60px;
  padding: 0 var(--mantine-spacing-md);
  border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  margin-bottom: var(--mantine-spacing-md);
}

.headerInner {
  min-width: 0;
}

.logoLink {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  text-decoration: none;
}

.actions {
  flex-shrink: 1;
  min-width: 0;
}

.logoutLink {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  text-decoration: none;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-weight: 500;
  font-size: var(--mantine-font-size-sm);
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-sm);
  transition: background-color 0.2s ease-in-out;

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  }
}

.logoutIcon {
  display: flex;
  align-items: center;
}
